<!-- cntnd_background_gallery/template/default.html -->
<script>
    $(function () {
        var pictures = [];
        {foreach from = $pictures item = foto}
        pictures.push("{$foto}");
        {/foreach}

        var loop = 0;

        var looper = function () {
            <!-- has to be adpated to the correct container -->
            $('.background_gallery').fadeOut(250, function () {
                $('.background_gallery').css("background-image", 'url(' + pictures[loop] + ')');
                $('.background_gallery').fadeIn(250);
            })

            if (loop < pictures.length - 1) {
                loop++;
            } else {
                loop = 0;
            }

            setTimeout(looper, {$delay});
        };

        if (pictures.length>1) {
            looper();
        }
    });
</script>
<!-- cntnd_background_gallery/template/default.html -->