<!-- cntnd_background_gallery/template/default.html -->
<script>
$(function() {
    var pictures = [];
    {foreach from = $pictures item = foto}
    pictures.push("{$foto}");
    {/foreach}

    // shuffle
    pictures = shuffle(pictures);

    // preload
    preload();

    $(".bg").bgswitcher({
        images: pictures,
        interval: {$delay}
    });

    // preload
    function preload() {
        pictures.forEach(image => {
            new Image().src = image
        });
    }


    function shuffle(array) {
        let currentIndex = array.length,
            randomIndex;

        // While there remain elements to shuffle.
        while (currentIndex != 0) {

            // Pick a remaining element.
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;

            // And swap it with the current element.
            [array[currentIndex], array[randomIndex]] = [
                array[randomIndex], array[currentIndex]
            ];
        }

        return array;
    }
});
</script>
<!-- cntnd_background_gallery/template/default.html -->